<nav class="navbar navbar-default" role="navigation">
	<div class="container">
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
	  </div>

	  <div class="navbar-center nav">
		<a href="/">
		  <img src="/images/self/pentacle_transparent_bg2_20.png" alt="Logo" class="logo">
		</a>
	  </div>

	  <div class="collapse navbar-collapse" id="navbar-collapse-1">
		<ul class="nav navbar-nav">
		  <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		  <li><a href="/research.html"><span class="glyphicon glyphicon-dashboard"></span> Research</a></li>
		  <li class="dropdown">
			<a href="/projects.html" class="dropdown-toggle" data-toggle="dropdown"
			   role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span>
			  Projects <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
			  <li><a href="/projects.html">View all</a></li>
			  <li><a href="/projects.html#virtual_labs">Virtual Labs</a></li>
			  <li><a href="/projects.html#the_one_kb">The ONE Knowledge Base</a></li>
			  <li><a href="/projects.html#se_lite">Software Engineering Lite</a></li>
			</ul>
		  </li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
		  <li class="active"><a href="/blog/"><span class="glyphicon glyphicon-list"></span> Blog</a></li>
		  <li><a href="/misc.html"><span class="glyphicon glyphicon-list-alt"></span> Miscellaneous<span class="sr-only">(current)</span></a></li>
		  <li><a href="/contact.html"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
		</ul>
	  </div><!-- /.navbar-collapse -->
	</div>
</nav>

<div class="container blog-header-container">
	<h2 class="blog-header meta">A Better Life</h2>

	<p class="lead">
		On software and technology to make life a better place
	</p>
</div>