p {
    font-size: 1.16em;
    color: #333333;
    margin-bottom: 15px;
}

h3 {
    margin-top: 25px;
    margin-bottom: 17px;
}

.navbar-brand {
    float: none;
}
.navbar-default .navbar-brand {
/*    color: #1E2BD7;*/
    font-size: 2em;
}
[role="navigation"] .navbar-brand, [role="navigation"] .meta {
    display: block;
    float: left;
}
.navbar-center
{
    position: absolute;
    left: 45%;
    top: 0;
    text-align: center;
    margin: auto;
}
nav.navbar {
    /*-webkit-box-shadow: 0px 5px 5px 0px rgba(139, 190, 245, 1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(139, 190, 245, 1);
    box-shadow: 0px 5px 5px 0px rgba(139, 190, 245, 1);*/
    border-radius: 0;
    margin-bottom: 0;
}

.page-title {
    font-size: 1.7em;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #AEDDF9;
    color: tomato;
}

body > div.container {
    padding-top: 20px;
}

.lead {
    color: #555555;
}

.bigger {
    font-size: 1.1em;
}
.active {
  background-color: #EEEEEE;
}
.entry {
    padding: 10px 18px;
}
.meta {
    color: gray;
}
.blue-border {
    border: 1px solid #54b4eb;
}

.blog-header-container {
    border-bottom: 1px dotted gray;
}

.blog-header {
  animation-name: bounceIn;
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  -ms-animation-name: bounceIn;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
}

.logo {
/*
    position: absolute;
    top: 50%;
    left: 46%;
    margin-top: -320px;
*/
	margin: 0 auto;
    z-index: 10000;
    visibility: hidden;
    animation: rotateIt 1s linear 1s;
    -webkit-animation: rotateIt 1s linear 1s;
    -moz-animation: rotateIt 1s linear 1s;
    -o-animation: rotateIt 1s linear 1s;
    -ms-animation: rotateIt 1s linear 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
}

.heart-beat {
  animation-name: heartBeat;
  -webkit-animation-name: heartBeat;
  -moz-animation-name: heartBeat;
  -o-animation-name: heartBeat;
  -ms-animation-name: heartBeat;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
}


/* Key frames */

@-webkit-keyframes rotateIt {
  0% {
    visibility: visible;
    -webkit-transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    visibility: visible;
    -webkit-transform: rotate(360deg);
    opacity: 1;
  }
}

@-moz-keyframes rotateIt {
  0% {
    visibility: visible;
    -moz-transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    visibility: visible;
    -moz-transform: rotate(360deg);
    opacity: 1;
  }
}

@-o-keyframes rotateIt {
  0% {
    visibility: visible;
    -o-transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    visibility: visible;
    -o-transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes rotateIt {
  0% {
    visibility: visible;
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    visibility: visible;
    transform: rotate(360deg);
    opacity: 1;
  }
}

@-ms-keyframes rotateIt {
  0% {
    visibility: visible;
    -ms-transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    visibility: visible;
    -ms-transform: rotate(360deg);
    opacity: 1;
  }
}



@-webkit-keyframes heartBeat {
   0% {
    -webkit-transform: scale(none);
  }
  
  15% {
    -webkit-transform: scale(1.2);
  }
  
  25% {
    -webkit-transform: scale(1.05);
  }
  
  30% {
    -webkit-transform: scale(1.2);
  }

  45% {
    -webkit-transform: scale(1.0);
  }
}

@-moz-keyframes heartBeat {
   0% {
    -moz-transform: scale(none);
  }
  
  15% {
    -moz-transform: scale(1.2);
  }
  
  25% {
    -moz-transform: scale(1.05);
  }
  
  30% {
    -moz-transform: scale(1.2);
  }

  45% {
    -moz-transform: scale(1.0);
  }
}

@-o-keyframes heartBeat {
   0% {
    -o-transform: scale(none);
  }
  
  15% {
    -o-transform: scale(1.2);
  }
  
  25% {
    -o-transform: scale(1.05);
  }
  
  30% {
    -o-transform: scale(1.2);
  }

  45% {
    -o-transform: scale(1.0);
  }
}


@keyframes heartBeat {
   0% {
    transform: scale(none);
  }
  
  15% {
    transform: scale(1.2);
  }
  
  25% {
    transform: scale(1.05);
  }
  
  30% {
    transform: scale(1.15);
  }

  45% {
    transform: scale(1.0);
  }
}

@-ms-keyframes heartBeat {
   0% {
    -ms-transform: scale(none);
  }
  
  15% {
    -ms-transform: scale(1.2);
  }
  
  25% {
    -ms-transform: scale(1.05);
  }
  
  30% {
    -ms-transform: scale(1.15);
  }

  45% {
    -ms-transform: scale(1.0);
  }
}



@keyframes bounceIn {
  0% {
    transform: translateY(-40px);
  }
  95% {
    transform: translateY(1px);
  }
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: translateY(-40px);
  }
  95% {
    -webkit-transform: translateY(1px);
  }
}

@-moz-keyframes bounceIn {
  0% {
    -moz-transform: translateY(-40px);
  }
  95% {
    -moz-transform: translateY(1px);
  }
}

@-o-keyframes bounceIn {
  0% {
    -o-transform: translateY(-40px);
  }
  95% {
    -o-transform: translateY(1px);
  }
}

@-ms-keyframes bounceIn {
  0% {
    -ms-transform: translateY(-40px);
  }
  95% {
    -ms-transform: translateY(1px);
  }
}


/* News Box */
.glyphicon {
    margin-right: 4px !important; /*override*/
}
.pagination .glyphicon {
    margin-right: 0px !important; /*override*/
}
.pagination a {
    color: #555;
}
.panel ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.news-item {
    padding: 5px 5px;
    margin: 0px;
    border-bottom: 1px dotted gray;
}
.panel-footer {
    padding: 4px;
}

.circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.circle-outer {
    width: 140px;
    height: 140px;
    background: tomato; /* #1d9ce5; /*2fa4e7;*/
    float: left;
    margin-right: 25px;
}
.circle-outer-small {
    width: 70px;
    height: 70px;
    background: #FFD151;
    float: none;
    position: absolute;
    display: block;
/*    margin-right: 25px;*/
}
.circle-inner {
    width: 95%;
    height: 95%;
    position: relative;
    top: 2.8%;
    left: 2.9%;
    background: white;
}
.circle-icon, .circle-icon2 {
    position: relative;
    top: 15%;
    color: #AEDDF9;
}
.circle-icon2 {
    color: tomato;
    font-size: 30px;
}
.circle-icon-small {
    position: absolute;
    top: 10%;
}

.highlights {
    padding-bottom: 20px;
}
.highlights > dt {
    padding-top: 30px;
}
.highlights dd {
    padding-bottom: 25px;
    border-bottom: 1px dotted gray;
}

.footer {
    background: #1995dc;
}
.subfooter {
    background: #AEDDF9;
}
.footer * {
    color: white;
}
.subfooter * {
    color: tomato;
}
.subfooter li {
    font-size: 1.1em;
    padding: 0 15px;
/*    padding-left: 14px;*/
    border-right: 1px solid #1995dc;
}
.subfooter li.last {
    border: 0;
}
.subfooter li > span {
    font-size: 20px;
}
.footer, .subfooter {
    padding-bottom: 15px;
    padding-top: 15px;
}

.subsubtitle {
    color: gray;
    font-size: 0.8em;
}

.name {
    padding-top: 30px;
}
p.h4.meta {
    font-size: 0.65em;
    line-height: 1.2em;
}

.say-hello {
    padding-top: 50px;
    padding-bottom: 20px;
}
.say-hello span {
    font-size: 1.2em;
}
.say-hello a {
    margin-left: 10px;
}