p {
    font-size: 1.15em;
    color: #333333;
    margin-bottom: 15px;
}

h3 {
    margin-top: 25px;
    margin-bottom: 17px;
}

.lead {
    color: #555555;
}

.bigger {
    font-size: 1.1em;
}
.navbar {
    background-color: white;
}
.active {
  background-color: #EEEEEE;
}
.entry {
    margin-top: 25px;

}
.meta {
    color: gray;
}
