---
layout:
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Software and technology to make life a better place">
		<meta name="author" content="Barun Saha">

		<title>A Better Life</title>

		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/lib/bootstrap-3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/custom.css" />

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

	{% include header.html %}

	<div id="main" role="main" class="posts container">
		{% for post in site.posts %}
		<article class="post">

			<h3 style="vertical-align: text-top; padding: 0;">
				<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
			</h3>

			<div class="date meta bigger" style="vertical-align: text-middle;">
				{{ post.date | date: "%B %e, %Y" }}
			</div>

			<div class="entry">
				{{ post.content | truncatewords:40}}
				<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
			</div>
		</article>
		{% endfor %}
	</div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-54544059-1', 'auto');
	  ga('send', 'pageview');

	</script>
	</body>
</html>
