{% extends "base.html" %} {% block page_description %}Barun Saha's home in the Internet{% endblock %} {% block
page_title %} Scientist &amp; Poet {% endblock %}


{% block styles %}
.circle-icon, .circle-icon2 {
position: relative;
top: 15%;
color: #AEDDF9;
}
.circle-icon2 {
color: #FF9579;
font-size: 30px;
}
{% endblock %}


{% block content %}

<div class="container">
    <div class="row" id="main">
        <div class="col-md-12">
            <p>
                Hi! I am Barun.
                I am a Senior R&amp;D Engineer with <a href="https://www.hitachienergy.com/">Hitachi Energy</a>,
                Bangalore, India.
                I primarily work on AI, Generative AI, and networks.
            </p>

            <img style="float: left;" alt="Barun Saha" width="200" height="200" class="circle me-3"
                src="images/self/barun_saha_thumbnail_200x200.png">

            <p>
                I received a PhD degree in Computer Science &amp; Engineering from <a href="http://iitkgp.ac.in/">Indian
                    Institute of Technology Kharagpur</a>, India. In my PhD thesis, titled &ldquo;Content Dissemination
                in Opportunistic Mobile Networks (OMNs),&rdquo; I investigated different modes of distributing content
                to the users in OMNs. I also received the MS (by Research) degree from <a
                    href="http://iitkgp.ac.in/">Indian Institute of Technology Kharagpur</a>. Prior to that, I was with
                Wipro Technologies.
            </p>

            <p>
                In the past, I have extensively worked with <a href="the_omn_book.html">Opportunistic Mobile
                    Networks</a>, and co-authored a textbook on the subject. I had co-organized the first ACM MobiCom
                Workshop on <a href="https://sigmobile.org/mobicom/2018/workshops/ficn/index.html">Future Industrial
                    Communication Networks</a> at New Delhi, India, in 2018.
            </p>

            <p>
                I also write <a href="poetry.html">poetry</a>. Some of my poems can be found on <a
                    href="https://twitter.com/1barun">Twitter/X</a>.
            </p>
        </div>

    </div>


    <div class="row row-cols-1 row-cols-md-4 g-4 mb-4 mt-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="fa fa-book circle-icon2 pull-left">
                        </span>
                        <a href="research.html#papers">Papers</a>
                    </h5>
                    <p class="card-text normal">
                        A list of research publications
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="fa fa-code circle-icon2 pull-left">
                        </span>
                        <a href="ai.html#hackathons">Solutions</a>
                    </h5>
                    <p class="card-text normal">
                        Some of my Generative AI projects and activities
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="fa fa-magic circle-icon2 pull-left">
                        </span>
                        <a href="https://delay-tolerant-networks.blogspot.com/">Tutorials</a>
                    </h5>
                    <p class="card-text normal">
                        Tutorials on network simulation
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="fa fa-cogs circle-icon2 pull-left">
                        </span>
                        <a href="research.html#service">Services</a>
                    </h5>
                    <p class="card-text normal">
                        Services offered to the research community
                    </p>
                </div>
            </div>
        </div>
    </div>

    <p>
        This website is developed using
        <a href="http://getbootstrap.com/">Bootstrap</a>,
        <a href="http://jekyllrb.com/">Jekyll</a>, and
        <a href="http://jinja.pocoo.org/">Jinja</a>, and is powered by <a href="https://pages.github.com/">
            GitHub Pages</a>.
    </p>
</div>

{% endblock %} {% block other_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% endblock %}