{% extends "base.html" %} {% block page_description %}Barun Saha's home in the Internet{% endblock %} {% block page_title %} Scientist &amp; Poet {% endblock %} 


{% block styles %}
    .circle-outer {
        width: 140px;
        height: 140px;
        background: tomato;
        float: left;
        margin-right: 25px;
    }
    .circle-outer-small {
        width: 70px;
        height: 70px;
        background: #FFD151;
        float: none;
        position: absolute;
        display: block;
    }
    .circle-inner {
        width: 95%;
        height: 95%;
        position: relative;
        top: 2.8%;
        left: 2.9%;
        background: white;
    }
    .circle-icon, .circle-icon2 {
        position: relative;
        top: 15%;
        color: #AEDDF9;
    }
    .circle-icon2 {
        color: #FF9579;
        font-size: 30px;
    }
    .circle-icon-small {
        position: absolute;
        top: 10%;
    }
{% endblock %}


{% block content %}

<div class="container">
    <div class="row" id="main">
        <div class="col-md-8">
            <p>
                Hi! I am Barun.
                I am a Senior R&amp;D Engineer with <a href="https://www.hitachienergy.com/">Hitachi Energy</a>, Bangalore, India. 
                I primarily work on AI, Generative AI, and networks.
            </p>

            <img align="left" alt="Barun Saha" style="padding-right: 8px;" width="200" height="200" class="circle" src="images/self/barun_saha_thumbnail.jpg">

            <p>
                I received a PhD degree in Computer Science &amp; Engineering from <a href="http://iitkgp.ac.in/">Indian Institute of Technology Kharagpur</a>, India. In my PhD thesis, titled &ldquo;Content Dissemination in Opportunistic Mobile Networks (OMNs),&rdquo; I investigated different modes of distributing content to the users in OMNs. I also received the MS (by Research) degree from <a href="http://iitkgp.ac.in/">Indian Institute of Technology Kharagpur</a>. Prior to that, I worked at Wipro Technologies at Bangalore and Chennai, India.
            </p>

            <p>
                In the past, I have extensively worked with <a href="the_omn_book.html">Opportunistic Mobile
                Networks</a>, and co-authored a textbook on the subject. I had co-organized the first ACM MobiCom Workshop on <a href="https://sigmobile.org/mobicom/2018/workshops/ficn/index.html">Future Industrial Communication Networks</a> at New Delhi, India in 2018.
            </p>

            <p>
                I also write <a href="poetry.html">poetry</a>. Some of my poems can be found in my <a href="https://twitter.com/1barun">Twitter</a> account.
            </p>
        </div>


        <div class="col-md-4">
            <!-- News box -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="fa fa-newspaper-o fa-lg"></span>
                    <b>News</b>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="news">
                                <li class="news-item">
                                    <span class="news-date">[10 Jul 2020]</span> Delivered an online talk on Industrial Intent-based Networks, which was jointly hosted by IEEE Kharagpur Section and NASI Kharagpur Chapter, and organized by Prof. Sudip Misra, IIT Kharagpur
                                </li>
                                
                                <li class="news-item">
                                    <span class="news-date">[31 Oct 2017]</span> <a href="http://theonekb.pythonanywhere.com/">The ONE Knowledge Base</a> has moved to <a href="http://theonekb.pythonanywhere.com/">http://theonekb.pythonanywhere.com/</a>
                                </li>

                                <li class="news-item">
                                    <span class="news-date">[09 Apr 2017]</span> Delivered a tutorial on <a href="http://www.netlab.tkk.fi/tutkimus/dtn/theone/">the ONE simulator</a> at the <a href="https://www.amrita.edu/event/national-workshop-opportunistic-mobile-networks">Nat'l Workshop on Opportunistic Mobile Networks</a> conducted by <a href="https://www.amrita.edu/">Amrita University</a>
                                </li>

                                <li class="news-item">
                                    <span class="news-date">[01 Mar 2016]</span> <a href="http://barunsaha.me/the_omn_book.html">#TheOMNBook</a> is <a href="https://www.springer.com/in/book/9783319290294">available</a>
                                </li>

                                <li class="news-item">
                                    <span class="news-date">[21 Jul 2015]</span> Slides from my recent presentation on
                                    <a href="presentations/OMNs.pdf">Opportunistic
                                    Mobile Networks</a>
                                </li>

                                <li class="news-item">
                                    <span class="news-date">[14 Jun 2015]</span>
                                    <a href="http://delay-tolerant-networks.blogspot.com/">
                                        The DTN Blog</a> and
                                    <a href="http://theonekb.pythonanywhere.com/">
                                    The ONE Knowledge Base</a> are now listed in the home page of the
                                    <a href="http://netlab.tkk.fi/">ONE
                                        simulator</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                </div>

            </div>
        </div>
    </div>

    
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-4 mt-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="fa fa-book circle-icon2 pull-left">
                        </span>
                        <a href="research.html#papers">Papers</a>
                    </h5>
                    <p class="card-text normal">
                      A list of research publications
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="fa fa-cogs circle-icon2 pull-left">
                        </span>
                        <a href="research.html#service">Services</a>
                    </h5>
                    <p class="card-text normal">
                      Services rendered to the research community
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="fa fa-magic circle-icon2 pull-left">
                        </span>
                        <a href="https://delay-tolerant-networks.blogspot.com/">Tutorials</a>
                    </h5>
                    <p class="card-text normal">
                      Tutorials on network simulation
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="fa fa-code circle-icon2 pull-left">
                        </span>
                        <a href="ai.html#hackathons">Software</a>
                    </h5>
                    <p class="card-text normal">
                      A list of GenAI solutions developed
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <p>
        This website is developed using
        <a href="http://getbootstrap.com/">Bootstrap</a>,
        <a href="http://jekyllrb.com/">Jekyll</a>, and
        <a href="http://jinja.pocoo.org/">Jinja</a>, and is powered by <a href="https://pages.github.com/">
            GitHub Pages</a>.
    </p>
</div>

{% endblock %} {% block other_scripts %}
<script src="assets/lib/bootstrap-news-box/scripts/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $(".news").bootstrapNews({
            newsPerPage: 3,
            navigation: true,
            autoplay: true,
            direction: 'up', // up or down
            animationSpeed: 'normal',
            newsTickerInterval: 5000 //5 secs
        });
    });
</script>

<script src="assets/js/site_message.js" type="text/javascript" async></script>
{% endblock %}
