{% extends "base.html" %}

{% block page_description %}Other activities of Barun{% endblock %}

{% block page_title %}
Barun's Poetry
{% endblock %}

{% block content %}

	<div class="container">
        <p>
            <img src="assets/images/poetry/tanka_koto.jpeg" alt="A tanka" title="A tanka">
        </p>
        
        <h2><a href="#" name="virtual_labs">Poetry Publications</a></h2>

		<ul class="bigger">
            <li>
                Eunoia Review (February 13, 2024)
			</li>
			<ul>
	            <li>
                    <a href="https://eunoiareview.wordpress.com/2024/02/13/river-corpse/">river corpse</a>
				</li>
	            <li>
	                <a href="https://eunoiareview.wordpress.com/2024/02/13/i-asked-him-when-was-the-last-time-he-cried/">
                        I Asked Him When Was the Last Time He Cried
                    </a>
				</li>
			</ul>
            <li>
                <a href="https://www.skyislandjournal.com/issues#/issue-22-fall-2022/">Sky Island Journal 
                (no. 22, October 2022)</a>
			</li>
			<ul>
	            <li>
	                in global warming, a mind melts away
				</li>
	            <li>
	                if i buy a house, it will have two exits
				</li>
				<li>
					Cupboards of Urban Houses
				</li>
			</ul>
        </ul>

		<h2><a href="#" name="virtual_labs">Selected Haiku, Cherita, Tanka Publications</a></h2>
        
        <ul class="bigger">
        	<li>
                <a href="http://www.asahi.com/ajw/articles/13799675">Asahi Haikuist Network</a>
			</li>
            <li>
                <a href="https://www.atlaspoetica.org/">Atlas Poetica: A Journal of World Tanka</a>
			</li>
			<li>
				<a href="https://failedhaiku.com/">Failed Haiku</a>
			</li>
			<li>
				<a href="https://haikukontinuum.com/">haiku kontinuum</a>
			</li>
			<li>
				<a href="https://twitter.com/horrorsenryu">horror senryu journal</a>
			</li>
			<li>
                <a href="https://www.humankindjournal.org/">Human/Kind Journal</a>
			</li>
            <li>
                <a href="http://www.tankasocietyofamerica.org/ribbons">Ribbons: Tanka Society of America Journal</a>
			</li>
			<li>
				<a href="http://www.sfpoetry.com/starline.html">Star*Line</a>
			</li>
            <li>
                <a href="https://www.thecherita.com/">the cherita</a>
			</li>
            <li>
                <a href="http://thebamboohut.weebly.com/">The Bamboo Hut</a>
			</li>
			<li>
                <a href="https://citronreview.com/tag/barun-saha/">The Citron Review</a>
			</li>
            <li>
                <a href="https://www.waleshaikujournal.com/summer-2018">Wales Haiku Journal</a>
			</li>
        </ul>

		<p>
			Many of my poems can be found in <a href="https://twitter.com/1barun/media">Twitter</a>.
		</p>
	</div>


{% endblock %}
