{% extends "base.html" %}

{% block page_description %}Other activities of Barun{% endblock %}

{% block page_title %}
Barun's Poetry
{% endblock %}

{% block content %}

	<div class="container">
        <p>
            <img src="assets/images/poetry/tanka_koto.jpeg" alt="A tanka">
        </p>
        
		<p>
		  As a poet, I primarily practice tanka, a Japanese form of short 
          poetry. In addition, I also write haiku and cherita. 
		</p>

		<p>
		  A haiku, usually written in three lines or a single line, captures
          a specific moment. On the other hand, a tanka, usually written
          in five lines, tends to ponder over a moment or event, or
          juxtaposes contrasting images. This, however, is an utterly
          simplified definition; volumes have been written to discuss
          the art of haiku and tanka. A cherita tells a story in six
          lines divided into three stanzas.
		</p>

		<p>
		  My poems are published in several journals, such as:
		</p>
        
        <ul class="bigger">
            <li>
                <a href="https://www.atlaspoetica.org/">Atlas Poetica: A Journal of World Tanka</a>
			</li>
            <li>
                <a href="http://www.tankasocietyofamerica.org/ribbons">Ribbons: Tanka Society of America Journal</a>
			</li>
            <li>
                <a href="https://www.thecherita.com/">the cherita</a>
			</li>
            <li>
                <a href="http://thebamboohut.weebly.com/">The Bamboo Hut</a>
			</li>
            <li>
                <a href="https://www.waleshaikujournal.com/">Wales Haiku Journal</a>
			</li>
            <li>
                <a href="https://www.humankindjournal.org/">Human/Kind Journal</a>
			</li>
            <li>
                <a href="http://www.asahi.com/ajw/articles/13799675">Asahi Haikuist Network</a>
			</li>
        </ul>

		<p>
			Many of my poems can be found in <a href="https://twitter.com/1barun/media">Twitter</a>.
		</p>
	</div>


{% endblock %}
