{% extends "base.html" %}

{% block content %}

	<div class="container">
		<p>
		  Whether in industry or academia, I have always engaged in developing
		  software to make life a better place.
		</p>


		<h2><a href="#" name="virtual_labs">Virtual Labs</a></h2>

		<p>
		  I feel lucky that I got the chance to be involved with the Virtual
		  Labs project sponsored by Ministry of Human Resource Development,
		  Government of India. During my stay at Indian Institute of Technology
		  Kharagpur, I have developed the 
          <a href="http://vlssit.iitkgp.ernet.in/isad/isad/">
		  Software Engineering</a> and 
          <a href="http://vlssit.iitkgp.ernet.in/ant/ant/">
		  Advanced Network Technolgies</a> Virtual Labs. I have led a team of
		  four people working on different aspects of the projects. I have
		  donned various roles including designer, developer, content writer
		  and tester. I have worked both on the front-end as well as the 
          back-end.
		</p>
        

		<h3>
            <a href="http://vlssit.iitkgp.ernet.in/isad/isad/">
                Software Engineering Virtual Lab</a>
        </h3>

		<p>
		  The Software Engineering Virtual Lab covers popular topics on the 
          subject catering to the university syllabi and provides a 
          workspace to the students to have hands-on practice. This lab 
          teaches ER modeling, various UML diagrams, cyclomatic
		  complexity, test suite design and other topics. Various software
		  including Graphviz and PlantUML have been used at the back end. The
		  workspace has been designed in such a way so that the students can
		  understand the basic concepts and building blocks, rather than simply
		  drawing some diagrams.
		</p>

		<h4>Challenges</h4>

		<p>
		  The development of this lab offered multiple challenges among which
		  the most notables are:
		</p>

		<ul class="bigger">
		  <li>
			The concept of an experiment is vague in Software Engineering.
			Furthermore, since it's all about modeling, there is hardly any
			<em>the</em> correct answer, which makes evaluation difficult.
		  </li>
		  <li>
			The lab covers diverse topics and no single software is available
			to let work on all the experiments. As such, multiple software are
			used in the back end, and appropriate interfacing had to be done.
		  </li>
		</ul>


		<h3>
            <a href="http://vlssit.iitkgp.ernet.in/ant/ant/">
                Advanced Network Technologies Virtual Lab</a>
        </h3>

		<p>
		  The Advanced Network Technologies Virtual Lab deals with
		  advanced topics in computer networks. This lab helps the students
		  understand the basic concepts of each topic through remote network
		  simulations using two simulatos &ndash; NS-2 and NS-3.

		</p>

		<h4>Challenges</h4>

		<p>
		  Compared to Software Engineering, this virtual lab was relatively
		  easier to develop in the sense that it uses same (similar) workspace
		  for all the experiments. However, the challenge was somewhere else:
		</p>

		<ul class="bigger">
		  <li>
			Patching NS-2 with several independently developed modules required
			fixing every syntax error encountered and was very much time
			consuming.
		  </li>
		  <li>
			Executing remote simulations and presenting the result back to them.
		  </li>
		  <li>
			The most challenging part, perhaps, has been to develop a toolbar
			to let users do performance evaluations based on his/her simulation
			results.
		  </li>
		</ul>


		<h3>
            <a href="http://vlssit.iitkgp.ernet.in/ns2web/ns2web/">Ns2web</a>
        </h3>

		<p>
		  Ns2web is an Web-based interface for performing remote simulation
		  and analysis with NS-2. This standalone Web app allows users to write
		  their own simulation script. Alternatively, it provides a guided
		  scenario generator where a user can design the desired network
		  topology and configure various parameters. Moreover, plots generated
		  from post-simulation analysis can be exported into multiple formats
		  (EPS, PDF and PNG) for inclusion in research articles.
		  A scaled-down version of ns2web powers the ANT Virtual Lab.
		</p>



		<h2>
            <a href="https://github.com/barun-saha/django_mailman_search" 
               name="the_one_kb">Django Mailman Search</a>
        </h2>

		<p>
		  <a href="http://www.list.org/">Mailman</a> is a popular email list
		  manager. This Django project aims at making the email archives
		  searchable through an easy-to-use web interface. Haystack is used for
		  searching with Whoosh as the backend. Two management commands are
		  provided to load data from the archives and clear them all from the
		  database. The project, however, assumes that one has access to the
		  archive files.
		</p>

		<p>
		  <a href="http://theonekb-barunsaha.rhcloud.com/">The ONE Knowledge 
          Base</a> is an application based on this project. The ONE KB allows 
          users to search the archives of the old emails of the community's 
          mailing list. Until this, any online facility to search those 
          archives was unavailable.
		</p>

		<h4>Challenges</h4>

		<p>
		  <ul class="bigger">
			<li>Loading data from the archive files into the Django models.</li>
			<li>This being my first experience with Haystack, took some time
			to grasp the settings and process.</li>
		  </ul>
		</p>

		<p>
		  Some of the source code can be found in 
          <a href="https://github.com/barun-saha">GitHub</a>.
		</p>



		<h2>
            <a href="https://play.google.com/store/apps/details?id=me.barunsaha.software_engineering_lite" 
               name="se_lite">Software Engineering Lite</a>
        </h2>

		<div class="row">
		  <p class="col-md-10">
			More than 10% traffic of the 
            <a href="http://vlssit.iitkgp.ernet.in/isad/isad/">
			Software Engineering Virtual Lab</a> originate from mobile devices
			among which most are Android-based. Motivated by this, I developed
			Software Engineering Lite, an <em>unofficial</em> port of the 
            Software Engineering Virtual Lab for Android devices. This app 
            presents majority of the contents from the original virtual lab 
            including the theory, self-evaluation, case study and references. 
            The app is supported for Android 2.1.x and above.
		  </p>

		  <p class="col-md-2">
			<a href="https://play.google.com/store/apps/details?id=me.barunsaha.software_engineering_lite">
			  <img alt="Android app on Google Play"
				src="images/android/brand/en_app_rgb_wo_60.png" />
			</a>
		  </p>
		</div>

		<p style="clear: both;">
		  Software Engineering Lite is an individual effort. It does not bear any
		  endorsement by the Virtual Labs project, or Ministry of Human Resource
		  Development, Government of India, or any other related party. The app
		  is released under GNU GPLv3 license, and the source code is available
		  in <a href="https://github.com/barun-saha/software-engineering-lite">
		  GitHub</a>.
		</p>
	</div>


{% endblock %}