{% extends "base.html" %}

{% block page_title %}
Research Activities
{% endblock %}

{% block content %}

	<div class="container">
		<p>
			My research topic is in the broad area of Delay Tolerant Networks
			(DTNs). In my MS thesis, I have attempted to explore some previously
			unaddressed issues in Pocket Switched Networks (PSNs). In particular,
			I have considered the effects of certain <em>human aspects</em>, innate
			intelligence and emotions, upon the performance of the network. As such,
			the otherwise mechanical nodes of a typical network evolve
			into <em>supernodes</em>, which are a combination of the mobile devices
			together with their human owner. Additionally, I am also interested 
            in other areas of wireless networking, for
			example, mobile ad hoc networks (MANETs).
		</p>


		<h2>Publications</h2>

		<p>
			A list of my selected publications till date is as follows. Some of
			the full-texts are available in 
			<a href="https://www.researchgate.net/profile/Barun_Saha">
			ResearchGate</a>.
		</p>

		<p><strong>Journals</strong></p>

		<ul class="bigger">
            <li>
			  <strong>B. K. Saha</strong>, S. Misra, and S. Pal, "Utility-based Exploration 
                for Performance Enhancement in Opportunistic Mobile Networks," <em>IEEE 
                Transactions on Computers</em>,	DOI: <a href="http://dx.doi.org/10.1109/TC.2015.2441700">
                10.1109/TC.2015.2441700</a>, May 2015.
			</li>
			<li>
			  S. Misra, S. Pal, and <strong>B. K. Saha</strong>, "Distributed information-
			  based cooperative strategy adaptation in opportunistic mobile
			  networks," <em>IEEE Transactions on Parallel and Distributed Systems</em>,
			  vol. 26, no. 3, pp. 724&ndash;737, March 2015.
			</li>
			<li>
			  S. Misra and <strong>B. K. Saha</strong>, "On Emotional Aspects in Mission-Oriented
			  Opportunistic Networks," <em>IET Networks</em>, vol. 3, no. 3, pp. 228&ndash;234,
			  September 2014.
			</li>
			<li>
			  <strong>B. K. Saha</strong> and S. Misra, "Effects of Heterogeneity on the Performance
			  of Pocket Switched Networks," <em>IET Networks</em>, vol. 3, no. 2, pp. 110&ndash;118,
			  June 2014.
			</li>
			<li>
			  <strong>B. K. Saha</strong>, S. Misra, and M. S. Obaidat, "A web-based
			  integrated environment for simulation and analysis with NS-2,"
			  <em>IEEE Wireless Communications</em>, vol.20, no.4, pp.109&ndash;115,
			  August 2013. (Featured article)
			</li>
			<li>
			   S. Maity, S. Saha, Sk Sahnawaj, <strong>B. K. Saha</strong>, and C. T. Bhunia,
			   "Pre-emptive dynamic source routing: a repaired backup approach
			   and stability based DSR with multiple routes," <em>Journal of Computing
			   and Information Technology</em>, vol. 16, no. 2, pp. 91&ndash;99, 2008.
			</li>
		</ul>

		<p><strong>Conferences</strong></p>

		<ul class="bigger">
			<li>
			  S. Pal, S. Misra, and <strong>B. K. Saha</strong>, "Rock-Scissors-Paper cycle of
			  cooperation strategies in Opportunistic Mobile Networks," in
			  <em>Proc. of 2013 IEEE International Conference on Communications Workshops
			  (ICC)</em>, pp.1062&ndash;1066, 9-13 June 2013.
			</li>
			<li>
			  <strong>B. K. Saha</strong> and S. Misra, "Could Human Intelligence Enhance
			  Communication Opportunities in Mission-Oriented Opportunistic
			  Networks?" in <em>Proc. of the 1st ACM MOBICOM Workshop on
			  Mission-Oriented Wireless Sensor Networking (MiSeNet '12)</em>,
			  Istanbul, Turkey. ACM, Aug. 2012, pp. 15&ndash;20.
			</li>
		</ul>

		<p><strong>Book Chapter</strong></p>

		<ul class="bigger">
			<li>
			  S. Misra, S. Pal, and <strong>B. K. Saha</strong>, "Cooperation in
			  Delay Tolerant Networks," <em>Next-Generation Wireless Technologies</em>,
			  Springer London, 2013, pp. 15&ndash;35.
			</li>
		</ul>


		<h2>Valar Dohaeris</h2>

		<p>
			All men must serve, and so must every researcher! I am honored to 
			serve as a referee for the following journals and symposiums.

			<ul class="bigger">
                <li><a href="http://www.ieee-comsoc-ants.org/">
					IEEE ANTS 2015</a></li>
				<li><a href="http://www.ieee.org/conferences_events/conferences/conferencedetails/index.html?Conf_ID=32812">
					IEEE TechSym 2014</a></li>
				<li><a href="http://link.springer.com/journal/11276">Wireless 
					Networks (Springer)</a></li>
				<li><a href="http://www.inderscience.com/jhome.php?jcode=ijcnds">
					International Journal of Communication Networks and 
					Distributed Systems (Inderscience)</a></li>
				<li><a href="http://jwcn.eurasipjournals.com/">EURASIP Journal 
					on Wireless Communications and Networking (SpringerOpen)</a></li>
				<li><a href="https://www.springer.com/business+%26+management/business+information+systems/journal/11235">
					Telecommunication Systems (Springer)</a></li>
			</ul>
		</p>
	</div>


{% endblock %}
