{% extends "base.html" %}

{% block page_description %}Research and publications by Barun{% endblock %}

{% block page_title %}
Research Activities
{% endblock %}

{% block content %}

	<div class="container">
		<p>
			I have primarily worked in the domain of Opportunistic Mobile Networks (OMNs), a subclass of Delay Tolerant Networks (DTNs). In OMNs, the nodes (typically carried by humans, e.g., smartphones) have intermittent connections, and usually lack in end-to-end communication paths. Consequently, the TCP/IP stack is ill suited for OMNs, and an entirely different set of protocols is to be investigated.
		</p>

		<p>
			In my PhD thesis, I have explored different avenues of content dissemation in OMNs. These include unicasting, content searching, and local dissemination schemes among others. SeeR, our proposed routing scheme for OMNs has been published in IEEE TMC, whereas, CHARM, a proposed scheme for named content searching, has been published in IEEE CL. My thesis is supervised by <a href="http://cse.iitkgp.ac.in/~smisra/">Dr. Sudip Misra</a>, who mentors the <a href="http://cse.iitkgp.ac.in/~smisra/swan/index.html">Smart Wireless Applications &amp; Networking</a> research group.
		</p>

		<p>
			 In my MS thesis (supervised by <a href="http://cse.iitkgp.ac.in/~smisra/">Dr. Sudip Misra</a> and <a href="http://cse.iitkgp.ac.in/~dsamanta/">Dr. Debasis Samanta</a>), I considered the effects of certain <em>human aspects</em>, such as innate intelligence and emotions, upon the performance of the network. As such, the otherwise mechanical nodes of a typical OMN evolve into <em>supernodes</em>, which are a combination of the mobile devices together with their human owner.
		</p>

		<p>
			Additionally, I have also worked a bit related to online education technologies. You would find a few such publications in IEEE WCM and some other conferences.
		</p>


		<h2><a href="#papers" name="papers">Publications</a></h2>

		<p>
			A list of my selected publications till date is as follows. Full-texts
            of some of the articles are available in
			<a href="https://www.researchgate.net/profile/Barun_Saha">
			ResearchGate</a>.
		</p>

        <p><strong>Book</strong></p>

        <ul reversed class="bigger">
            <li>
			  S. Misra, <strong>B. K. Saha</strong>, and S. Pal, <em><a href="https://www.springer.com/in/book/9783319290294">
                Opportunistic Mobile Networks: Advances and Applications</a></em>.
                Springer International Publishing, 2016.
			</li>
        </ul>

		<p><strong>Journals</strong></p>

		<ol reversed class="bigger">
			<li>
			  <strong>B. K. Saha</strong>, S. Misra, and S. Pal, &ldquo;<a href="http://ieeexplore.ieee.org/document/7862876/">SeeR: Simulated Annealing-based Routing in Opportunistic Mobile Networks</a>,&rdquo; <em>IEEE Transactions on Mobile Computing</em>, vol. 16, no. 10, pp. 2876&ndash;2888, October 2017.
			  <span class="pub-resource">
				  <i class="fa fa-file-pdf-o"> <a href="https://www.researchgate.net/publication/313940625_SeeR_Simulated_Annealing-based_Routing_in_Opportunistic_Mobile_Networks">Full text</a></i>
			  </span>
			  <span class="pub-resource">
					<i class="fa fa-file-text-o"> <a href="bibtex/Saha2017-seer.bib">BibTeX</a></i>
			  </span>
			</li>
			<li>
			  S. Pal, <strong>B. K. Saha</strong>, and S. Misra, &ldquo;<a href="http://ieeexplore.ieee.org/document/7859459/">Game Theoretic Analysis of Cooperative Message Forwarding in Opportunistic Mobile Networks</a>,&rdquo; <em>IEEE Transactions on Cybernetics</em>, DOI: 10.1109/TCYB.2016.2611686, 2017.
			  <span class="pub-resource">
					<i class="fa fa-file-text-o"> <a href="bibtex/Pal2017-cooperation.bib">BibTeX</a></i>
			  </span>
			</li>

			<li>
			  <strong>B. K. Saha</strong> and S. Misra, &ldquo;<a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=7503117">Named Content Searching in Opportunistic Mobile Networks</a>,&rdquo; <em>IEEE Communications Letters</em>,	vol. 20, no. 10, pp. 2067&ndash;2070, October 2016.
			  <span class="pub-resource">
					<i class="fa fa-file-text-o"> <a href="bibtex/Saha2016-charm.bib">BibTeX</a></i>
			  </span>
			</li>
            <li>
			  <strong>B. K. Saha</strong>, S. Misra, and S. Pal, &ldquo;<a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=7118165">Utility-based Exploration
                for Performance Enhancement in Opportunistic Mobile Networks</a>,&rdquo; <em>IEEE
                Transactions on Computers</em>,	vol. 65, no. 4, pp. 1310&ndash;1322, April 2016.
				<span class="pub-resource">
					<i class="fa fa-file-pdf-o"> <a href="https://www.researchgate.net/publication/279217430_Utility-Based_Exploration_for_Performance_Enhancement_in_Opportunistic_Mobile_Networks">Full text</a></i>
				</span>
				<span class="pub-resource">
					<i class="fa fa-file-text-o"> <a href="bibtex/Saha2016-exploration.bib">BibTeX</a></i>
				</span>
			</li>
			<li>
			  S. Misra, S. Pal, and <strong>B. K. Saha</strong>, &ldquo;<a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6781642">Distributed information-
			  based cooperative strategy adaptation in opportunistic mobile
			  networks</a>,&rdquo; <em>IEEE Transactions on Parallel and Distributed Systems</em>,
			  vol. 26, no. 3, pp. 724&ndash;737, March 2015.
			  <span class="pub-resource">
				  <i class="fa fa-file-pdf-o"> <a href="https://www.researchgate.net/publication/272369737_Distributed_Information-Based_Cooperative_Strategy_Adaptationin_Opportunistic_Mobile_Networks">Full text</a></i>
			  </span>
			  <span class="pub-resource">
				  <i class="fa fa-file-text-o"> <a href="bibtex/Misra2015-cooperation.bib">BibTeX</a></i>
			  </span>
			</li>
			<li>
			  S. Misra and <strong>B. K. Saha</strong>, &ldquo;<a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6898217">On Emotional Aspects in Mission-Oriented
			  Opportunistic Networks</a>,&rdquo; <em>IET Networks</em>, vol. 3, no. 3, pp. 228&ndash;234, September 2014.
			  <span class="pub-resource">
					<i class="fa fa-file-text-o"> <a href="bibtex/Misra2014-emotion.bib">BibTeX</a></i>
			  </span>
			</li>
			<li>
			  <strong>B. K. Saha</strong> and S. Misra, &ldquo;<a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6845405">Effects of Heterogeneity on the Performance
			  of Pocket Switched Networks</a>,&rdquo; <em>IET Networks</em>, vol. 3, no. 2, pp. 110&ndash;118,
			  June 2014.
			  <span class="pub-resource">
				  <i class="fa fa-file-pdf-o"> <a href="https://www.researchgate.net/publication/263546917_Effects_of_heterogeneity_on_the_performance_of_pocket_switched_networks">Full text</a></i>
			  </span>
			  <span class="pub-resource">
				  <i class="fa fa-file-text-o"> <a href="bibtex/Saha2014-heterogeneity.bib">BibTeX</a></i>
			  </span>
			</li>
			<li>
			  <strong>B. K. Saha</strong>, S. Misra, and M. S. Obaidat, &ldquo;<a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6590057">A web-based
			  integrated environment for simulation and analysis with NS-2</a>,&rdquo;
			  <em>IEEE Wireless Communications</em>, vol.20, no.4, pp.109&ndash;115,
			  August 2013. (Feature article)
			  <span class="pub-resource">
				  <i class="fa fa-file-pdf-o"> <a href="https://www.researchgate.net/publication/260656588_A_web-based_integrated_environment_for_simulation_and_analysis_with_NS-2">Full text</a></i>
			  </span>
			  <span class="pub-resource">
				  <i class="fa fa-file-text-o"> <a href="bibtex/Saha2013-ns2web.bib">BibTeX</a></i>
			  </span>
			</li>
			<li>
			   S. Maity, S. Saha, Sk Sahnawaj, <strong>B. K. Saha</strong>, and C. T. Bhunia,
			&ldquo;Pre-emptive dynamic source routing: a repaired backup approach
			   and stability based DSR with multiple routes,&rdquo; <em>Journal of Computing
			   and Information Technology</em>, vol. 16, no. 2, pp. 91&ndash;99, 2008.
			   <span class="pub-resource">
 				  <i class="fa fa-file-pdf-o"> <a href="https://www.researchgate.net/publication/220066236_Pre-emptive_Dynamic_Source_Routing_A_Repaired_Backup_Approach_and_Stability_Based_DSR_with_Multiple_Routes">Full text</a></i>
 			  </span>
 			  <span class="pub-resource">
 				  <i class="fa fa-file-text-o"> <a href="bibtex/Maity2008-dsr.bib">BibTeX</a></i>
 			  </span>
			</li>
		</ol>

		<p><strong>Conferences</strong></p>

		<ol reversed class="bigger">
			<li>
			  S. Pal, S. Misra, and <strong>B. K. Saha</strong>, &ldquo;<a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6649394">Rock-Scissors-Paper cycle of
			  cooperation strategies in Opportunistic Mobile Networks</a>,&rdquo; in
			  <em>Proc. of 2013 IEEE International Conference on Communications Workshops
			  (ICC)</em>, pp.1062&ndash;1066, 9-13 June 2013.
			  <span class="pub-resource">
				<i class="fa fa-file-text-o"> <a href="bibtex/Pal2013-rsp.bib">BibTeX</a></i>
			</span>
			</li>
			<li>
			  <strong>B. K. Saha</strong> and S. Misra, &ldquo;<a href="https://dl.acm.org/citation.cfm?doid=2348656.2348662">Could Human Intelligence Enhance
			  Communication Opportunities in Mission-Oriented Opportunistic
			  Networks?</a>&rdquo; in <em>Proc. of the 1st ACM MOBICOM Workshop on
			  Mission-Oriented Wireless Sensor Networking (MiSeNet '12)</em>,
			  Istanbul, Turkey. ACM, Aug. 2012, pp. 15&ndash;20.
			  <span class="pub-resource">
				<i class="fa fa-file-text-o"> <a href="bibtex/Saha2012-intelligence.bib">BibTeX</a></i>
				</span>
			</li>
		</ol>

		<p><strong>Book Chapter</strong></p>

		<ul class="bigger">
			<li>
			  S. Misra, S. Pal, and <strong>B. K. Saha</strong>, &ldquo;<a href="http://link.springer.com/chapter/10.1007/978-1-4471-5164-7_3">Cooperation in
			  Delay Tolerant Networks</a>,&rdquo; <em>Next-Generation Wireless Technologies</em>,
			  Springer London, 2013, pp. 15&ndash;35.
			  <span class="pub-resource">
				<i class="fa fa-file-text-o"> <a href="bibtex/Misra2013-cooperation.bib">BibTeX</a></i>
			</span>
			</li>
		</ul>


		<h2><a href="#talks" name="talks">Talks</a></h2>

		<ul class="bigger">
			<li>
				Delivered a 3+ hours tutorial on <a href="http://www.netlab.tkk.fi/tutkimus/dtn/theone/">the ONE simulator</a> at the <a href="https://www.amrita.edu/event/national-workshop-opportunistic-mobile-networks">National Workshop on Opportunistic Mobile Networks</a> conducted by <a href="https://www.amrita.edu/">Amrita University</a> on 09 Apr 2017. The workshop was attended by about 40 participants, which mostly included PG students and faculty members.
			</li>
		</ul>


        <h2><a href="#service" name="service">Valar Dohaeris</a></h2>

		<p>
			All men must serve, and so must every researcher! I am honored to
			serve as a referee for the following journals and symposiums.

			<ul class="bigger">
				<li><a href="https://www.computer.org/web/tmc">IEEE Transactions on Mobile Computing</a></li>
                <li><a href="http://www.ieee-comsoc-ants.org/">
					IEEE ANTS 2015</a>, <a href="http://ants2016.ieee-comsoc-ants.org/">
						IEEE ANTS 2016</a></li>
				<li><a href="http://www.ieee.org/conferences_events/conferences/conferencedetails/index.html?Conf_ID=32812">
					IEEE TechSym 2014</a>, <a href="http://ewh.ieee.org/sb/kharagpur/iitkgp/TechSym2016/">
						IEEE TechSym 2016</a></li>
				<li><a href="http://link.springer.com/journal/11276">Wireless
					Networks (Springer)</a></li>
				<li><a href="http://www.inderscience.com/jhome.php?jcode=ijcnds">
					International Journal of Communication Networks and
					Distributed Systems (Inderscience)</a></li>
				<li><a href="http://jwcn.eurasipjournals.com/">EURASIP Journal
					on Wireless Communications and Networking (SpringerOpen)</a></li>
				<li><a href="https://www.springer.com/business+%26+management/business+information+systems/journal/11235">
					Telecommunication Systems (Springer)</a></li>
				<li>
					<a href="http://www.icacie.com/2017/">ICACIE 2017</a>
				</li>
			</ul>
		</p>
	</div>


{% endblock %}
