{% extends "base.html" %}

{% block page_title %}
Opportunistic Mobile Networks: Advances and Applications
{% endblock %}

{% block content %}

	<div class="container">
		<p>
			<strong>Opportunistic Mobile Networks: Advances and Applications</strong>
            is our forthcoming book to be published by 
            <a href="http://link.springer.com/">Springer</a>. This book,
            #TheOMNBook, if you may say, presents a thoughtful assimilation of 
            the recent advances in OMNs across
            several dimensions such as, routing, cooperation, heterogeneity,
            emotions, and more. The book also reflects on different real-life
            aspects and standards such as, Requests For Comments 
            (RFCs) and patents. A dedicated chapter on network simulation is
            aimed to help you develop and test protocols with confidence.
            Additionally, the book also focuses on a few contextual topics in
            closely related domains, wherever relevant.
        </p>        
        
        <img class="img-responsive center-block book-image" 
             src="assets/images/the_omn_book/book_cover.png" 
             alt="The OMN Book">
        
        <div class="row">
            <div class="col-md-8">
                <p>
                    The primary objective of #TheOMNBook is to elucidate
                    some of the fundamental challenges in OMNs, and guide you along
                    different paths towards addressing such issues. The chapters have 
                    been crafted in a way so that both beginners as well as seasoned 
                    researchers would find them useful. These chapters are
                    accompanied with a set of review terms and conceptual as well as
                    programming exercises. Our hope herein is that #TheOMNBook would
                    not only help you gain clear understanding of the fundamental 
                    concepts, but also establish you on a firm ground to further extend 
                    the contemporary state-of-the-art in OMNs. Opportunistic Mobile 
                    Networks: Advances and Applications would be available in print as 
                    well as electronic versions in 2016.
                </p>
            </div>
            
            <div class="col-md-4 book-social">
                <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" 
                      rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                </style>
                <div id="mc_embed_signup">
                    <form action="//barunsaha.us12.list-manage.com/subscribe/post?u=d07c2bbbcf2273011b8a93000&amp;id=c5e8adc27f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL" style="display: block;">Subscribe to the mailing list (Low frequency; No spam)</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_d07c2bbbcf2273011b8a93000_c5e8adc27f" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                    
                    <p>
                        Subscribing to the email list would help us to notify 
                        you when the book becomes available. In the coming days,
                        you would also get to know what to expect from 
                        #TheOMNBook.
                    </p>
                    
                    <p>
                        Also, join us in 
                        <a href="https://www.facebook.com/TheOMNBook/">Facebook</a>, 
                        and let us talk more about the book. Let us know any 
                        question that you might have.
                    </p>
                </div>
            </div>
        </div>
        
	</div>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56189965c0d50820" async="async"></script>

{% endblock %}
