{% extends "base.html" %}

{% block page_title %}
Opportunistic Mobile Networks: Advances and Applications
{% endblock %}

{% block content %}

	<div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-112">
                <img class="img-responsive center-block book-image" 
                     src="assets/images/the_omn_book/keywords_cloud.png" 
                     alt="The OMN Book">
            </div>
            
            <div class="col-md-3 col-sm-12 book-social">
                <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" 
                      rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                </style>
                <div id="mc_embed_signup">
                    <form action="//barunsaha.us12.list-manage.com/subscribe/post?u=d07c2bbbcf2273011b8a93000&amp;id=c5e8adc27f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL" style="display: block;">Subscribe to the mailing list (Low frequency; No spam)</label>
                        <input type="email" value="" name="EMAIL" class="email"
                               id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_d07c2bbbcf2273011b8a93000_c5e8adc27f" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe"
                                                  name="subscribe" 
                                                  id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                    
                    <p>
                        This would help us to notify 
                        you when the book becomes available. Also, join us in 
                        <a href="https://www.facebook.com/TheOMNBook/">Facebook</a>
                        and <a href="https://twitter.com/search?q=%23TheOMNBook&src=typd">
                        Twitter</a>, 
                        and let us talk more about the book. We would love to 
                        hear from you!
                    </p>
                </div>
            </div>
            
            <div class="col-md-12">
                <p>
                    <strong>Opportunistic Mobile Networks: Advances and Applications</strong>
                    is our forthcoming book to be published by 
                    <a href="http://link.springer.com/">Springer</a>. This book,
                    <a href="https://twitter.com/search?q=%23TheOMNBook&src=typd">
                    #TheOMNBook</a>, if you may say, presents a thoughtful 
                    assimilation of the recent advances in OMNs across
                    several dimensions such as, routing, cooperation, heterogeneity,
                    emotions, and more. The book also reflects on different real-life
                    aspects and standards such as, Requests For Comments 
                    (RFCs) and patents. A dedicated chapter on network simulation is
                    aimed to help you develop and test protocols with confidence.
                    Additionally, the book also focuses on a few contextual topics in
                    closely related domains, wherever relevant.
                </p>
            </div>
            
            <div class="col-md-4">
                <div class="panel panel-info">
                      <div class="panel-heading">
                          <h3 class="panel-title">Key Benefits</h3>
                      </div>
                      <div class="panel-body" style="font-size: 1.1em;">
                          In <em>Opportunistic Mobile Networks: Advances and 
                          Applications</em>, you will learn how to:
                          <ul style="list-style: inside;">
                              <li>Resolve some of the key challenges in OMNs</li>
                              <li>Master protocol development and testing using the ONE simulator</li>
                              <li>Consider likely influences of human aspects in OMNs</li>
                              <li>Overcome the issues of non-cooperative behavior</li>
                              <li>Address heterogeneity in OMNs and other networks</li>
                              <li>Advance the current state-of-the-art in OMNs along different avenues</li>
                          </ul>
                      </div>
                </div>
            </div>
            
            <div class="col-md-8">
                <p>
                    The primary objective of #TheOMNBook is to elucidate
                    some of the fundamental challenges in OMNs, and guide you along
                    different paths towards addressing such issues. The chapters have 
                    been crafted in a way so that both beginners as well as seasoned 
                    researchers would find them useful. These chapters are
                    accompanied with a set of review terms and conceptual as well as
                    programming exercises. Our hope herein is that #TheOMNBook would
                    not only help you gain clear understanding of the fundamental 
                    concepts, but also establish you on a firm ground to further extend 
                    the contemporary state-of-the-art in OMNs.
                </p>
            </div>
            
            
            <div class="col-md-5">
                <p>
                    The Foreword to the book has been written by Prof.
                    <a href="http://faculty.engineering.ucdavis.edu/mohapatra/">
                    Prasant Mohapatra</a>, University of California, Davis;  
                    Editor-in-Chief, IEEE Transactions on Mobile Computing. Prof.
                    <a href="https://www.cl.cam.ac.uk/~jac22/">
                    Jon Crowcroft</a>, University of Cambridge, UK, and Prof.
                    <a href="http://www.iit.cnr.it/en/marco.conti">Marco Conti</a>,
                    Institute of Informatics and Telematics (IIT), 
                    National Research Council of Italy (CNR), Italy, have
                    endorsed the book. The book has been co-authored by 
                    Sudip Misra and Sujata Pal. <em>Opportunistic Mobile 
                    Networks: Advances and Applications</em> would be available 
                    in print as well as electronic versions in March 2016.
                </p>
            </div>
            
            <div class="col-md-3">
                <div class="panel panel-primary">
                      <div class="panel-heading">
                          <h3 class="panel-title">Salient Features</h3>
                      </div>
                      <div class="panel-body" style="font-size: 1.1em;">
                          What makes #TheOMNBook so special?
                          <ul style="list-style: inside;">
                              <li>Illustrated examples</li>
                              <li>Key insights</li>
                              <li>Conceptual &amp; numerical problems</li>
                              <li>Programming exercises</li>
                              <li>Review terms</li>
                            </ul>
                      </div>
                </div>
            </div>
        </div>
        
        <blockquote>
            <p>
                An excellent resource for both students and researchers interested in mobile opportunistic networking. A well balanced mix of theoretical and practical aspects.
            </p>
            <p>
                <small>Marco Conti, Institute of Informatics and Telematics (IIT), National Research Council of Italy (CNR), Italy
                </small>
            </p>
        </blockquote>

        <blockquote>
            <p>
                I've been working on opportunistic networking since a friend was caught up in a disaster zone after a tsunami and couldn't use his smart phone, as the net was down, yet there were many devices around the town which had wireless and could store, carry, and forward messages, but no protocols to implement this useful service. This book covers in clear and up-to-date style, the principles and practice of the main communications mechanisms to date, and offers helpful exercises and useful information on how to implement these systems in practice.
            </p>
            <p>
                <small>
                    Jon Crowcroft, Fellow of IEEE, Fellow of ACM, Fellow of Royal Society (UK), University of Cambridge, UK
                </small>
            </p>
        </blockquote>
        
        <div class="row">
            <p>
                A list of the different Chapters of the book is presented below.
                Keep checking this space for more!
            </p>
            
            <ol style="font-size: 1.2em;">
                <li>Origins and Characteristics</li>
                <li>Delay Tolerant Routing and Applications</li>
                <li>A Developer's Guide to the ONE Simulator</li>
                <li>Emerging Sensing Paradigms and Intelligence in Networks</li>
                <li>Aspects of Human Emotions and Networks</li>
                <li>Evolutionary Game in Wireless Networks</li>
                <li>Enforcing Cooperation in OMNs</li>
                <li>Heterogeneity in OMNs</li>
                <li>Opportunistic Mobile Networks: Towards Reality</li>
                <li>The Big Picture</li>
            </ol>
        </div>
	</div>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56189965c0d50820" async="async"></script>

{% endblock %}
