<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

		<title>A Better Life | {{ page.title }}</title>

		<meta name="author" content="{{ site.name }}" />
		<meta name="description" content="{{ site.description }}">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/lib/bootstrap-3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/custom.css" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	</head>

	<body>

	<div class="wrapper-masthead container">
		<div class="row">
			<div class="col-md-6">
				<h4 class="pull-right"><a href="{{ site.baseurl }}/blog/">
					<span class="glyphicon glyphicon-list"></span>
					Blog</a>
				</h4>
			</div>

			<div class="col-md-6">
				<h4><a href="/">
					<span class="glyphicon glyphicon-home"></span> Home</a>
				</h4>
			</div>
		</div>
	</div>


	<div id="main" role="main" class="container">
	  {{ content }}
	</div>

	<div class="wrapper-footer">
	  <div class="container">
		<footer class="footer">

		</footer>
	  </div>
	</div>

  </body>
</html>
