---
layout: default
---

<article class="post">
	<h1>{{ page.title }}</h1>

	<div class="date meta bigger">
		{{ page.date | date: "%B %e, %Y" }}
	</div>

	<div class="entry" style="padding-bottom: 30px;">
		{{ content }}
	</div>

	<a href="/blog/" class="bigger">
		<span class="glyphicon glyphicon-arrow-left bigger"></span>
		Back to blog index
	</a>
</article>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56189965c0d50820" async="async"></script>

<div class="comments">
	{% include disqus.html %}
</div>