---
layout: default
---

<article class="post">
	<h1>{{ page.title }}</h1>

	<div class="date meta bigger">
		{{ page.date | date: "%B %e, %Y" }}
	</div>

	<div class="entry" style="padding-bottom: 30px;">
		{{ content }}
	</div>

	<a href="/blog/" class="bigger">
		<span class="glyphicon glyphicon-arrow-left bigger"></span>
		Back to blog index
	</a>
</article>

<div class="comments">
	{% include disqus.html %}
</div>


<footer>
		<div class="container" style="margin-top: 10px; padding-top: 10px;
			padding-bottom: 10px; border-top: 1px solid #178ACC;">
			<div class="row">
				<div class="col-md-8">
					<p>&copy; Copyright 2014, 2015 Barun Saha. All rights reserved.</p>
				</div>

				<div class="col-md-4">
					<p class="pull-right"><a href="#">Back to top</a></p>
				</div>
			</div>
		</div>
	</footer>
